<div class="input" data-role="select">
  <span data-role="selected"></span>
</div>
<div class="dropdown" data-role="dropdown" style="display:none">
  <div class="dropdown-content" data-role="content">
    {{#if multiple}}
      {{#each select}}
        <div class="item" data-index="{{@index}}" data-role="item" data-value="{{{value}}}">
         <input type="checkbox" class="checkbox" data-text="{{{text}}}" value="{{{value}}}">{{{text}}}
        </div>
      {{/each}}
    {{else}}
      {{#each select}}
        <div class="item{{#if selected}} selected{{/if}}" data-index="{{@index}}" data-role="item" data-value="{{{value}}}">{{{text}}}</div>
      {{/each}}
    {{/if}}
  </div>
</div>
