{{#if items}}
  {{#each items}}
  <div title="{{text}}" class="item" data-index="{{@index}}" data-role="item" data-value="{{{value}}}">
    {{#if item}}
      {{{item}}}
    {{else}}
      {{{text}}}
    {{/if}}
  </div>
  {{/each}}
{{else}}
  <div class="item" data-role="empty">{{{emptyTemplate}}}</div>
{{/if}}